 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
 }

 :root{
   --main-purple: #957FEF;
   --placeholder: #B4B4B4;
   --default-btn-size: 265px;
 }

 h1 {
   color: var(--main-purple);
 }

 .app {
   max-width: 800px;
   margin: 4rem auto;
   /* border: 1px solid #ccc; */
   border-radius: 8px;
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   padding: 20px 0;
   height: 600px;
   justify-content: space-between;
 }

